<!DOCTYPE html>
<html>
<head>
  <title>Add Student</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form-container">
    <h2>➕ Add New Student</h2>
    <form action="/save" method="POST">
      <label>Name</label>
      <input type="text" name="name" required>

      <label>Age</label>
      <input type="number" name="age" required>

      <label>Course</label>
      <input type="text" name="course" required>

      <label>Marks</label>
      <input type="number" name="marks" required>

      <button type="submit" class="btn">Save Student</button>
    </form>
    <a href="/" class="back">⬅ Back</a>
  </div>
</body>
</html>
